;마지막 구간 화염의 대미지가 너무 세서 대미지를 낮추는 대신 조금 느려지게 수정
add:
{
	"classname" "player_speedmod"
	"targetname" "speed"
	"origin" "-96 -96 100"
	"spawnflags" "0"
}


modify:
{
	match:
	{
		"targetname" "fuego1"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "1"
	}
	insert:
	{
		"OnHurtPlayer" "speedModifyspeed0.60-1"
		"OnHurtPlayer" "speedModifyspeed14-1"
	}
}

modify:
{
	match:
	{
		"targetname" "fuego2"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "1"
	}
	insert:
	{
		"OnHurtPlayer" "speedModifyspeed0.60-1"
		"OnHurtPlayer" "speedModifyspeed14-1"
	}
}


modify:
{
	match:
	{
		"targetname" "fuego3"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "1"
	}
	insert:
	{
		"OnHurtPlayer" "speedModifyspeed0.60-1"
		"OnHurtPlayer" "speedModifyspeed14-1"
	}
}


modify:
{
	match:
	{
		"targetname" "fuego4"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "1"
	}
	insert:
	{
		"OnHurtPlayer" "speedModifyspeed0.60-1"
		"OnHurtPlayer" "speedModifyspeed14-1"
	}
}


modify:
{
	match:
	{
		"targetname" "fuego5"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "1"
	}
	insert:
	{
		"OnHurtPlayer" "speedModifyspeed0.60-1"
		"OnHurtPlayer" "speedModifyspeed14-1"
	}
}


modify:
{
	match:
	{
		"targetname" "fuego6"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "1"
	}
	insert:
	{
		"OnHurtPlayer" "speedModifyspeed0.60-1"
		"OnHurtPlayer" "speedModifyspeed14-1"
	}
}
;화염방사기에 슬로우 추가
modify:
{
	match:
	{
		"targetname" "itemflamethrower_hurt"
		"classname" "trigger_hurt"
	}
	insert:
	{
		"OnHurtPlayer" "speedModifyspeed0.70-1"
		"OnHurtPlayer" "speedModifyspeed16-1"
	}
}
;화염방사기 트리거 버튼이 더 잘 눌리도록 수정
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "button1"
	}
	replace:
	{
		"spawnflags" "1025"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "button2"
	}
	replace:
	{
		"spawnflags" "1025"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "button3"
	}
	replace:
	{
		"spawnflags" "1025"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "button4"
	}
	replace:
	{
		"spawnflags" "1025"
	}
}
add:
{
	"classname" "logic_auto"
	"spawnflags" "1"
	"origin" "-96 -96 50"
	"OnMapSpawn" "button1Unlock0-1"
	"OnMapSpawn" "button2Lock0-1"
	"OnMapSpawn" "button3Lock0-1"
	"OnMapSpawn" "button4Lock0-1"
}

